@import '../../styles/mixins.scss';

.page {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 80px;
}
.page-header {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    &-img {
        height: 180px;
        width: 180px;
        border-radius: 80px;
        margin-right: 10px;
        align-self: center;
    }
    &-desc {
        &-text {
            font-size: $font-size-sm;
        }
    }
}

.page-links {
    margin-top: 40px;
    background-color: #fff;
    border-radius: 10px;
    &-item {
        padding: 0 40px;
        height: 100px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &-text {
            font-size: $font-size-base;
        }
        &-arrow {
            height: 36px;
            width: 36px;
        }
    }
    &-sep {
        height: 1px;
        width: 100%;
        background-color: $color-grey-4;
    }
}

.page-footer {
    margin-top: 40px;
    align-items: center;
    &-text {
        font-size: $font-size-sm;
        color: $color-grey-2;
    }
}