@import "../../../../styles/variables.scss";

.vlist-item {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.ListItemOdd {
  background-color: $color-brand;
}
.ListItemEven {
  background-color: $color-info;
}
