.switch-list {
  position: relative;
  padding: 0 15px;
  margin: 0 30px;
  background-color: #ffffff;
  border-radius: 8px;

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
  }

  &__text {
    padding-left: 15px;
  }
}

.page-section-title {
  margin-bottom: 20px;
  font-size: 40px;
}
