// @import './reset.scss';
// @import './mixins.scss';

// html, body {
//   margin: 0;
//   padding: 0;
//   // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
//   outline: 0;
// }

.navigate_btn {
  width: 600px;
  height: 80px;
  text-align: center;
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #fff;
  border-radius: 10px;
  line-height: 80px;
  font-size: 28px;
  margin: 30px;
}

// /* 来自官方示例      */
// /* reset */
// // page {
// //   background-color: #f8f8f8;
// //   height: 100%;
// //   font-size: 32px;
// //   line-height: 1.6;
// // }

// // button {
// //   margin-top: 20px;
// //   margin-bottom: 20px;
// // }

// // form {
// //   width: 100%;
// // }

// // textarea {
// //   position: relative;
// //   display: block;
// //   border: 0;
// //   resize: none;
// //   width: 100%;
// //   height: 300px;
// //   color: inherit;
// //   font-size: 1em;
// //   line-height: inherit;
// //   outline: 0;
// // }

// /* lib */
// .strong {
//   font-weight: bold;
// }

// .tc {
//   text-align: center;
// }

// .taro_page {
//   min-height: 100%;
//   background-color: #f8f8f8;
// }

// /* page */
// .container {
//   display: flex;
//   padding-bottom: 40px;
//   flex-direction: column;
//   min-height: 100%;
//   justify-content: space-between;
//   font-size: 32px;
//   @include eject(font-family, ' -apple-system-font, Helvetica Neue, Helvetica, sans-serif');
// }

// .page-head {
//   padding: 60px 50px 80px;
//   text-align: center;
// }





// .page-body {
//   width: 100%;
//   flex-grow: 1;
//   @include eject(overflow-x, hidden);
// }

// .page-body-wrapper {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   width: 100%;
// }

// .page-body-wording {
//   text-align: center;
//   padding: 200px 100px;
// }

// .page-body-info {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   background-color: #fff;
//   width: 100%;
//   padding: 50px 0 150px 0;
// }

// .page-body-title {
//   margin-bottom: 100px;
//   font-size: 32px;
// }

// .page-body-text {
//   font-size: 30px;
//   line-height: 26px;
//   color: #ccc;
// }

// .page-body-text-small {
//   font-size: 24px;
//   color: #000;
//   margin-bottom: 100px;
// }

// .page-foot {
//   margin: 100px 0 30px 0;
//   text-align: center;
//   color: #1aad19;
//   font-size: 0;
// }

// .icon-foot {
//   width: 152px;
//   height: 23px;
// }

// .page-section {
//   width: 100%;
//   text-align: center;
//   margin-bottom: 60px;
// }

// .page-section_center {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .page-section:last-child {
//   margin-bottom: 0;
// }

// .page-section-gap {
//   @include eject(box-sizing, border-box);
//   padding: 0 30px;
// }

// .page-section-spacing {
//   @include eject(box-sizing, border-box);
//   padding: 0 80px;
// }

// .page-section-spacing-reset {
//   padding: 0 30px;
// }


// .page-section-gap .page-section-title {
//   padding-left: 0;
//   padding-right: 0;
// }

// .page-section-ctn {
// }

// /* widget */
// .btn-area {
//   margin-top: 60px;
//   @include eject(box-sizing, border-box);
//   width: 100%;
//   padding: 0 30px;
// }

// .image-plus {
//   width: 150px;
//   height: 150px;
//   border: 2px solid #d9d9d9;
//   position: relative;
// }

// .image-plus-nb {
//   border: 0;
// }

// .image-plus-text {
//   color: #888888;
//   font-size: 28px;
// }

// .image-plus-horizontal {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   background-color: #d9d9d9;
//   width: 4px;
//   height: 80px;
//   @include eject(transform, translate(-50%, -50%));
// }

// .image-plus-vertical {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   background-color: #d9d9d9;
//   width: 80px;
//   height: 4px;
//   @include eject(transform, translate(-50%, -50%));
// }

.demo-text-1 {
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #1aad19;
  color: #ffffff;
  font-size: 36px;
}

// .demo-text-1:before {
//   content: 'A';
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   @include eject(transform, translate(-50%, -50%));
// }

.demo-text-2 {
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #2782d7;
  color: #ffffff;
  font-size: 36px;
}

// .demo-text-2:before {
//   content: 'B';
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   @include eject(transform, translate(-50%, -50%));
// }

.demo-text-3 {
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: #353535;
  font-size: 36px;
}

// .demo-text-3:before {
//   content: 'C';
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   @include eject(transform, translate(-50%, -50%));
// }

// .wxapp-block {
//   text-align: center;
//   .sub-title {
//     display: inline-block;
//     padding: 60px 50px 10px;
//     margin-bottom: 40px;
//     font-size: 0.68267rem;
//     color: #bebebe;
//     border-bottom: 1px solid #d8d8d8;
//   }
// }

// // components pages style

.components-page {
  font-size: 32px;
  &__body {
    padding: 0 40px;
  }

}

.example {
  margin-bottom: 60px;
  &-header {
    text-align: center;
    font-size: 34px;
    color: #999;
    margin-bottom: 20px;
  }
  &-body {

  }
}


.page-section {
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}

.page-section_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-section:last-child {
  margin-bottom: 0;
}

.page-section-gap {
  // @include eject(box-sizing, border-box);
  padding: 0 30px;
}

.page-section-spacing {
  // @include eject(box-sizing, border-box);
  padding: 0 80px;
}

.page-section-spacing-reset {
  padding: 0 30px;
}

.page-section-title {
  font-size: 28px;
  color: #999999;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
}
