.example-body__scroll-view {
  // background-color: red;
  &--H {
    height: 240px;
    white-space: nowrap;
    &-item {
      /*  #ifndef  rn  */
      display: inline-block;
      /*  #endif  */
      width: 300px;
      height: 240px;
    }
  }
  &--V {
    height: 500px;
    width: 100%;
    &-item {
      display: flex;
      height: 300px;
    }
  }
}
