.example-body__scroll-view {
  // background-color: red;
  &--H {
    height: 240px;
    &-item {
      width: 300px;
      height: 300px;
    }
  }
  &--V {
    height: 500px;
    width: 100%;
    display: flex;
    &-item {
      height: 300px;
    }
  }
}
