.contain {
  display: flex;
  flex-direction: row;
  &-left{
    width: 40vw;
    // height: 90vh;
    &__text {
      width: 100%;
      padding: 24px;
      font-size: 32px;
      border: 1px solid white;

    }
    &__active{
      background-color: white;
    }
  }
  &-right{
    width: 60vw;
    height: 90vh;
    background-color: white;
    &__text {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 24px;
      font-size: 32px;
      border: 1px solid lightgrey;
    }
  }
}
