.box {
  width: 80px;
  height: 80px;
  margin: 10px;
  font-size: 16px;
  color: #aaa;
  text-align: center;
  background: #555;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg {
  background: #eee;
}

.flex {
  display: flex;
}


.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}

.border {
  border: 1px solid #000;
}
