<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>taroDemo</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>taro</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>taro</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Taro Playground 使用您的相机，用于展示相机组件的拍照、录像和扫描二维码功能。</string>
	<key>NSContactsUsageDescription</key>
	<string>Taro Playground 使用您的通讯录，用于展示通讯录 API。</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Taro Playground 使用您的地理位置信息，用于展示获取位置信息 API。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Taro Playground 使用您的地理位置信息，用于展示获取位置信息 API。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Taro Playground 使用您的麦克风，用于展示相机组件的录像功能。</string>
	<key>NSMotionUsageDescription</key>
	<string>Taro Playground 使用您的运动与健康数据，用于展示运动传感器相关 API。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Taro Playground 使用您的照片，用于展示照片相关 API。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Taro Playground 使用您的照片，用于展示照片相关 API。</string>
	<key>UIAppFonts</key>
	<array>
		<string>Outfit-Black.ttf</string>
		<string>Outfit-Bold.ttf</string>
		<string>Outfit-ExtraBold.ttf</string>
		<string>Outfit-ExtraLight.ttf</string>
		<string>Outfit-Light.ttf</string>
		<string>Outfit-Medium.ttf</string>
		<string>Outfit-Regular.ttf</string>
		<string>Outfit-SemiBold.ttf</string>
		<string>Outfit-Thin.ttf</string>
		<string>Outfit-VariableFont_wght.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
