@import '../../../../../styles/variables.scss';

.list {
    padding: 10px 0;
}
.list-item {
    height: 80px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    background-color: #fff;
}

.list-control {
    &-btn1 {
        margin-bottom: 20px;
        background-color: $color-success;
    }
    &-btn2 {
        margin-bottom: 20px;
        background-color: $color-error;
    }
}