.swiper {
  padding: 0;
}

.switch-list {
  position: relative;
  padding: 0 15px;
  font-size: 30px;
  background-color: #ffffff;

  &__item {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 10px 0;
  }

  &__text {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    padding-left: 15px;
  }
}

.slider-list {
  margin-top: 80px;
  padding: 0 40px;

  &__item {
    margin-bottom: 40px;

    &-header {
      font-size: 28px;
      color: #999999;
      text-align: center;
      margin-bottom: 15px;
    }
  }
}

.demo-text {
  &-1,
  &-2,
  &-3 {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &-text {
      font-size: 60px;
      color: #ffffff;
    }
  }
}

.swiper-list {
  height: 300px;
  // width: 100px;
}
