@import "../../../../styles/variables.scss";

.example-progress {
  font-size: 32px;
  padding-top: 30px;
  padding-bottom: 30px;
}

/*  #ifndef  %rn%  */
.example-controller taro-button-core {
  margin-top: unset;
}
/*  #endif  */

.example-controller {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  &-btn1 {
    background-color: $color-brand;
    color: #fff;
  }
  &-btn2 {
    background-color: $color-success;
  }
  &-btn3 {
    background-color: $color-error;
  }
}
