@import '../../../../styles/variables.scss';

.example-progress {
  font-size: 32px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.example-controller {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  &-btn1 {
    background-color: $color-brand;
    color: #fff;
  }
  &-btn2 {
    background-color: $color-success;
  }
  &-btn3 {
    background-color: $color-error;
  }
}

.components-page {
  &__body {
    margin: 40px;
    background-color: #fff;
    border-radius: 8px;
  }
  &__footer {
    margin: 40px;
    background-color: #fff;
    border-radius: 8px;
    padding-bottom: 40px;
  }
}