.ifdef-bgc {
  color: white;
  font-size: 30px;
  background-color: black;
  /*  #ifdef  h5  */
  background-color: red;
  /*  #endif  */
  /*  #ifdef  weapp  */
  background-color: green;
  /*  #endif  */
  /*  #ifdef  rn  */
  background-color: blue;
  /*  #endif  */
}
.ifndef-bgc {
  color: white;
  font-size: 30px;
  background-color: black;
  /*  #ifndef  weapp rn harmony */
  background-color: red;
  /*  #endif  */
  /*  #ifndef  h5 rn harmony */
  background-color: green;
  /*  #endif  */
  /*  #ifndef  h5 weapp harmony */
  background-color: blue;
  /*  #endif  */
}
.ifdef-color, .ifndef-color {
  font-size: 30px;
}
  /*  #ifdef  h5  */
.ifdef-color {
  color: red;
}
/*  #endif  */
/*  #ifdef  weapp  */
.ifdef-color {
  color: green;
}
/*  #endif  */
/*  #ifdef  rn  */
.ifdef-color {
  color: blue;
}
/*  #endif  */

/*  #ifndef  weapp rn harmony */
.ifndef-color {
  color: red;
}
/*  #endif  */
/*  #ifndef  h5 rn harmony */
.ifndef-color {
  color: green;
}
/*  #endif  */
/*  #ifndef  h5 weapp harmony */
.ifndef-color {
  color: blue;
}
/*  #endif  */
