.fs30px {
  font-size: 30px;
}
.fs60px {
  font-size: 60px;
}
.fs15-px {
  font-size: 15PX;
}
.fs30-px {
  font-size: 30PX;
}
.fs1rem {
  font-size: 1rem;
}
.fs2rem {
  font-size: 2rem;
}
.w-30 {
  height: 100px;
  width: 30%;
  background-color: cyan;
}
.w-60 {
  height: 100px;
  width: 60%;
  background-color: blue;
}