@import "../../../../../styles/variables.scss";

.common-border {
  padding: 24px;
  border: 10px solid rgb(207, 207, 207);
  background-color: #ffffff;
}
.input-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  &-text {
    font-size: $font-size-base;
  }
  &-input {
    font-size: $font-size-base;
  }
}
