.cammer-content {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.btn {
  margin: 0 auto;
  margin-bottom: 15px;
  width: 80%;
}

.preview {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 100px;
}

.example-body {
  flex: 1;
}
