.cammer-content {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
  height: 500px;
}

.btn {
  margin: 0 auto;
  margin-bottom: 15px;
  width: 80%;
}

.preview {
  /*  #ifndef  rn  */
  display: block;
  /*  #endif  */
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 100px;
}

.example-body {
  flex: 1;
}

.switch-list__item {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
  background-color: #fff;
}

.switch-list__text {
  padding-left: 15px;
}
