@import "./styles/mixins.scss";
@import "./styles/common.scss";
@import "./styles/variables.scss";

// h5
.taro_page {
  background-color: #efefef !important;
}

// 小程序

page {
  background-color: #efefef;
}

.h5-span {
  display: inline-block;
  word-break: break-all;
}

// 小程序 & h5

.icon-container {
  display: none !important;
}