.example {
  margin-bottom: 60px;

  &-body {
    &__list {
      display: flex;
      flex-direction: row;
      flex: 1;
      &-item {
        flex: 1;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        &-txt {
          font-size: 36px;
          font-weight: bold;
          color: #fff;
        }
      }
    }

    &__list--vertical {
      height: 400px;
      flex-direction: column;
    }
  }
}

.example-body__list-item {
  flex: 1;
}
