.index {
  padding-bottom: 100px;
}
.index-hd {
  padding: 80px;
  text-align: center;
  align-items: center;
}

.index-bd {
  padding: 0 30px 40px;
}

.index-ft {
  padding-bottom: 20px;
  text-align: center;
}

.index-desc {
  margin-top: 20px;
  font-size: 28px;
}

.index-desc_text {
  color: #888888;
}

.navigator-box {
  opacity: 0;
  position: relative;
  background-color: #ffffff;
  font-size: 28px;
}

.navigator-box-show {
  opacity: 1;
  transform: translateY(0);
}

.navigator {
  padding: 20px 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigator-text {
  flex: 1;
}

.navigator-arrow {
  padding-right: 26px;
  position: relative;
}

.kind-list {
  font-size: 32px;
}

.kind-list-item {
  margin: 20px 0;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
}

.kind-list-text {
  flex: 1;
}

.kind-list-img {
  width: 60px;
  height: 60px;
}

.kind-list-item-hd {
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.kind-list-item-hd-show {
  opacity: 0.2;
}

.kind-list-item-bd {
  height: 0;
  overflow: hidden;
}

.kind-list-item-bd-show {
  height: auto;
}
